$default-font: 'Noto Sans JP', sans-serif;
$light_gray: rgba(198, 198, 198, .58);
$gray: #A4A4A4;
$red: #CD3A42;
$gutter40: 35px;

// size to one line
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// absolute center
@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
