@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  font-family: $default-font;
  font-size: 16px;
  line-height: 1.4;
  color: #111;
  opacity: 1;
  overflow-x: hidden;
}

.truncate-1 {
  @include truncate-text(1)
}

.truncate-2 {
  @include truncate-text(2)
}

.truncate-3 {
  @include truncate-text(3)
}

.truncate-4 {
  @include truncate-text(4)
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#youtube_main {
  display: flex;
  flex-wrap: wrap;

  .sidebar {
    width: 16%;
    background-color: #F8F8F8;
    padding: 20px 0;

    > .logo {
      display: block;
      margin-bottom: 30px;
      margin-left: 12px;
    }

    .line, .line_mnu {
      margin: 32px auto;
      height: 1px;
      background-color: $gray;
      opacity: .4;
    }

    > .mnu_sidebar {
      list-style-type: none;

      > li {
        display: block;
        margin-bottom: 39.4px;

        &:last-child {
          margin-bottom: 0;
        }

        > a {
          text-decoration: none;
          display: flex;
          align-items: center;
          color: #111;
          font-weight: 500;
          position: relative;
          padding: 0 24px;

          > img {
            margin-right: 16px;
            max-width: 24px;
            height: auto;
            display: block;
          }

          > b {
            font-weight: 400;
          }

          > span.number {
            color: $red;
            margin-left: 20px;
          }

          &::before {
            content: '';
            height: 100%;
            width: 3px;
            border-radius: 10px;
            background-color: $red;
            position: absolute;
            left: -25px;
            top: 0;
            opacity: 0;
          }

          &:hover::before {
            opacity: 1;
          }
        }
      }
    }

    #logout_btn {
      display: block;
      font-size: 18px;
      font-weight: 500;
      color: #111;
      text-decoration: none;
      margin-bottom: 40px;
      margin-left: 20px;
    }

    .copy {
      color: $gray;
      margin-left: 20px;
    }
  }

  .content {
    width: 84%;

    &.content-full {
      width: 100%;
    }

    #header {
      padding: 15px 25px;
      position: relative;
      border-bottom: 1px solid $light_gray;

      .search_top {
        max-width: 400px;
        margin: 0 auto;

        > label {
          position: relative;
          display: block;

          input {
            border-radius: 30px;
            padding: 8px 16px;
            border: 1px solid $light_gray;
            width: 100%;
            display: block;
            transition: box-shadow .4s ease;

            &::placeholder {
              color: $gray;
              opacity: .8;
              font-style: italic;
            }

            &:focus {
              box-shadow: 0 3px 6px rgba(0, 0, 0, .04)
            }
          }

          img {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            max-width: 18px;
          }
        }
      }
    }

    #wrapper_content {
      display: flex;
      flex-wrap: wrap;

      > .left_side {
        padding: $gutter40 0;
        width: 75%;
        border-right: 1px solid $light_gray;

        > .line {
          height: 1px;
          background-color: $light_gray;
          width: 100%;
          margin: 25px 0;
        }

        > .weekly_featured {
          display: flex;
          flex-wrap: wrap;
          padding: 0 $gutter40;

          > .info_wf {
            width: 50%;
            padding-right: 15px;

            > .sub_name {
              font-size: 18px;
            }

            > h1 {
              font-size: 24px;
              font-weight: 600;
              margin: 20px 0;
            }

            > .description {
              color: $gray;
              margin-bottom: 20px;
            }
          }

          > .top_video {
            width: 50%;
            padding-left: 15px;
          }
        }
      }
    }
  }
}

.title_gray {
  display: flex;
  align-items: center;

  > h2 {
    font-size: 20px;
    margin-right: 20px;
  }

  > .show-more {
    color: $gray;
    cursor: pointer;
  }
}

#wrapper_content {
  > .left_side {
    #recommended {
      padding: 0 $gutter40;
    }
  }

  > .right_side {
    position: relative;
    width: 25%;
    padding: $gutter40;

    .video_hot_item {
      margin-top: 25px;
    }

    .line {
      background-color: $light_gray;
      width: 100%;
      height: 1px;
      margin: 24px 0;
    }

    #top_channels {
      .title_gray {
        margin-bottom: 16px;
      }

      .list_channels {

      }
    }
  }
}

.verified {
  &::after {
    content: '';
    @apply inline-block w-4 h-4 bg-no-repeat bg-center bg-cover ml-2.5 opacity-80;
    background-image: url('/img/common/correct.svg');
  }
}
