@import '../../../assets/styles/variables';

.video_item {
  @apply block;

  .thumbnail {
    @apply relative block;

    > a {
      &:first-child {
        @apply transition-opacity hover:opacity-90;
      }

      > img {}
    }

    .hot {
      @apply absolute rounded-sm text-sm text-white flex items-center justify-center h-6 left-2 top-2 pr-2;
      background-color: rgba(229, 27, 23, .76);
    }

    time {
      @apply absolute rounded-sm text-white flex items-center justify-center w-14 h-6 left-2 bottom-2.5;
      background-color: rgba(0, 0, 0, .5);
    }

    .avatar {
      @apply block bg-white p-0.5 rounded-full absolute;
      right: 10px;
      bottom: -30px;

      > img {
        @apply rounded-full;
      }
    }
  }

  .author {
    @apply inline-block text-sm mt-2;
    color: $gray;
  }

  .name {
    @apply font-semibold truncate-1 mt-1 mb-3;
  }

  .description {
    @apply truncate-4 mb-5;
    color: $gray;
  }

  .number_info {
    @apply flex items-center;

    > div {
      @apply text-sm uppercase font-semibold mx-4 first:ml-0;
      color: $gray;
    }
  }
}
