$gray: #797979;

.input {
  @apply relative block mb-4;

  > input {
    @apply w-full text-base border-b py-2;

    &::placeholder {
      color: $gray;
    }
  }
}

.error {
  @apply absolute -bottom-5 left-0 text-sm w-full text-primary;
  font-size: 0.65rem;
}
